@import '../../../scss/mixins.scss';

.page{
	display: flex;
	flex-direction: row;

	@media(max-width: 900px){
		flex-direction: column-reverse;
	}

	.block_1{

		.present_agent{

			.agent_icon{
				@include adaptiv-value('width', 150, 100, 0);
				@include adaptiv-value('height', 150, 100, 0);
			}

			.agent_name{

			}
		}

		.present_role{

			.role_icon{

			}

			.role_name{

			}
		}

		.description{

		}

		.abilities_block{

			.abilities_title{

			}

			.abilities_items{

				.ability_item{

					.ability_icon{

					}

					.abilities_text{
						.ability_name{

						}

						.ability_description{

						}
					}
				}
			}
		}
	}

	.block_2{
		position: relative;

		.background{
			position: absolute;
			top: 35%;
			left: 50%;
			transform: translate(-50%, -50%);
			z-index: -1;
		}
	}
}