@import '@/scss/mixins.scss';
@import '@/scss/var.scss';

.page{
	display: flex;
	flex-direction: row;

	@media(max-width: 900px){
		flex-direction: column-reverse;
	}

	.block_1{

		flex: 0 0 60%;

		*{
			margin-bottom: 10px;
		}

		.present_agent{
			display: flex;
			gap: 30px;

			.agent_icon{
				border-radius: 10px;
			}

			.agent_name{
				font-size: 100px;
			}
		}

		.present_role{

			display: flex;
			align-items: center;
			gap: 15px;

			.role_icon{

			}

			.role_name{

			}
		}

		.description{
			font-size: 24px;
			line-height: 125%;
		}

		.abilities_block{

			.abilities_title{
				font-size: 32px;
				margin-top: 40px;
				margin-bottom: 40px;

				color: $valorantColor;
			}

			.abilities_items{

				.ability_item{

					display: flex;
					gap: 30px;
					align-items: center;

					.ability_icon{

					}

					.abilities_text{

						.ability_name{
							font-size: 24px;
						}

						.ability_description{
							font-size: 18px;
						}
					}
				}
			}
		}
	}

	.block_2{
		position: relative;
		flex: 0 0 35%;

		.background{
			position: absolute;
			top: 40%;
			left: 50%;
			transform: translate(-50%, -50%);
			z-index: -1;
		}
	}
}